# Linguist overrides https://github.com/github/linguist#overrides
standard/CUFX/Generator/bin/Debug/GeneratedFiles/* linguist-generated=true
standard/CUFX/Generator/bin/Debug/GeneratedFiles/* linguist-detectable=false
